@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;700&display=swap');

.cart-phones{
    background: gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.delete-icon{
    cursor: pointer;
    width: 25px;
    height: 18px;
    justify-content: space-around;    
    position: absolute;
    padding-right: 20px;
    right: 0;
}
.delete-icon:hover{
    color: rgb(133, 23, 23);
}
.img{
    width: 10%;
}