@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;700&display=swap');
.QnA-container{
    background: lightgrey;
    width: 100%;
    color: #303030;
    margin-top:100px;
}
.footer p {
    bottom: 0;
    padding-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.faqs{
    color: #303030;
    text-align: center;
}
.QnA{
    margin-left: 50px;
    margin-right: 50px;
    
}
.creator{
    text-align: center;
    padding-top: 8px;
}
footer{
    background: gray;
    height: 40px;
    
}

